<div class="container">
	<div class="jumbotron">
<h4>See the list below for the surveys you've taken.<h4>
<h5> If you'd like to take another survey, <a href="/surveys">click here.</a></h5>

<% @user_surveys.each do |survey_taken| %>
<p><b>Title:</b> <%=survey_taken.survey.title%><br>
	<% survey_taken.responses.each do |response| %>
		<b><%=response.option.question.content%></b>
		Response: <%=response.option.text%><br>
	<%end%></p>
<%end%>

</div>
</div>
